body {
    /* background-image: url(/img/bg_web.jpg); */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    padding-top: 140px;
    /* position: absolute; */
}

.container-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background: rgb(230, 200, 200);
}


.left img {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
    justify-content: flex-end;
}


.kanan {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 15px;
    justify-content: center;
    top: 0;
}

.kanan a {
    text-decoration: none;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
}


.item {
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.item img {
    width: 50px;
    height: 50px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.3); */
    transition: transform 0.3s ease;
}

.item span {
    /* position: absolute; */
    bottom: -25px;
    left: 50%;
    /* transform: translateX(-50%); */
    font-size: 14px;
    color: #333;
    opacity: 0;
    transition: opcity 0.3s ease, bottom 0.3s ease;
    margin-top: 5px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.item:hover img {
    transform: translateY(-10px);
}

.item:hover span {
    opacity: 1;
    bottom: -10px;
}

.contact {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    align-items: center;
    padding-top: 15px;
    gap: 15px;
}

.contact-container1 {
    display: flex;
    background-color: rgb(241, 206, 206);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 450px;
    gap: 60px;
    height: 300px;
    justify-content: center;
    
}

.contact-container1 img {
    height: 350px;
    width: 350px;
}

.contact-container2 {
    display: flex;
    background-color: rgb(241, 206, 206);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 450px;
    gap: 60px;
    height: 300px;
    
}

.contact-info {
    flex: 1;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.contact-info p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label{
    margin-top: 10px;
    font-weight: 600;
}

.contact-form input, .contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    resize: none;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #d68d70;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background: #a46e51;
}
